:root {
    --backgroud: rgb(75, 7, 75);
    --border: rgb(136, 15, 136);
    --font: rgb(190, 180, 33);
}

#nav {
    width: 100%;
    height: 5%;
}

#main {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-left: 15%;
    border-top: solid var(--border) 3px;
    border-left: solid var(--border) 3px;
    border-right: solid var(--border) 3px;
    width: 70%;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    border-bottom: solid var(--border) 3px;
    height: 30px;
    width: 100%;
}

#add {
    width: 20%;
    height:11%;
    font-size: larger;
    margin-top: 1%;
    display: flex;
    text-align: center;
    justify-content: center;
    border: solid var(--border) 3px;
}

#addcontainer {
    display: flex;
    justify-content: center;
}

.num, .mname, .amount {
    border-right: solid var(--border) 3px;
}

.num {
    width: 10%;
}

.mname {
    width: 44%;
}

.amount {
    width: 35%;
}

.del {
    width: 12.8%;
}

body, button{
    background-color: var(--backgroud);
    color: var(--font);
    border: none;
}

.buttonDelete {
    width: 100%;
    height: 100%;
}
